.mobile-app-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card-box {
  width: calc(30% - 20px); 
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio-image {
  width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 1024px) {
  .card-box {
    width: calc(45% - 20px);
  }
}

@media (max-width: 767px) {
  .card-box {
    width: calc(100% - 20px);
  }
}
